.homepage {
}

.gcp {
  font-size: large;
  display: flex;
  align-items: center;
  margin: 25% 45%;
  font-size: large;
}

.gcp_button {
  background-color: navy;
  font-weight: bold;
  color: white;
}
